{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{% static 'js/jquery-3.6.0.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-dark bg-dark" aria-label="First navbar example">
    <div class="container-fluid">
        <a class="navbar-brand">CS1 Education Experiment</a>
    </div>
</nav>
{% block content %}
{% endblock %}
</body>
{#<script>#}
{#$( "body" ).mousemove(function( event ) {#}
{#  var pageCoords = "( " + event.pageX + ", " + event.pageY + " )";#}
{#  var clientCoords = "( " + event.clientX + ", " + event.clientY + " )";#}
{#  console.log("Page coords:" + pageCoords);#}
{#  console.log("Client coords:" + clientCoords);#}
  {#$( "span" ).first().text( "( event.pageX, event.pageY ) : " + pageCoords );#}
  {#$( "span" ).last().text( "( event.clientX, event.clientY ) : " + clientCoords );#}
{#\});#}
{#</script>#}
</html>
