{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{% static 'js/jquery-3.6.0.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-dark bg-dark" aria-label="First navbar example">
    <div class="container-fluid">
        <a class="navbar-brand">CS1 Education Experiment</a>
    </div>
</nav>
{% block content %}
{% endblock %}
</body>
<script>
  // For dict iteration
  'use strict';

  window.post = function(url, data) {
    return fetch(url, {method: "POST", headers: {'Content-Type': 'application/json'}, body: JSON.stringify(data)});
  }

  function getCookie(name) {
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ${name}=`);
    if (parts.length === 2) return parts.pop().split(';').shift();
  }

  $("body").mousemove(function (event) {
    var now = Date.now();
    var pageCoords = event.pageX + "," + event.pageY;
    var clientCoords = event.clientX + "," + event.clientY;
    localStorage.setItem("coor:" + now.toString(), pageCoords + "," + clientCoords);
    {#console.log("move: " + pageCoords + "," + clientCoords);#}
  });

  $(document).on('mousedown', function (event) {
    var now = Date.now();
    localStorage.setItem("click:" + now.toString(), "mousedown," + event.target + "," + event);
    {#console.log("mousedown: " + event.target + "," + event);#}
    // Post the event object here.
  });

  $(document).on('mouseup', function (event) {
    var now = Date.now();
    localStorage.setItem("click:" + now.toString(), "mouseup," + event.target + "," + event);
    {#console.log("mouseup:" + event.target + "," + event);#}
    // Post the event object here.
  });

  $(document).on('keydown', function (event) {
    var now = Date.now();
    localStorage.setItem("key:" + now.toString(), event.key + "," + event.target + "," + event);
    {#console.log("keydown: " + event.key + "," + event.target + "," + event);#}
    // Post the event object here.
  });

  $(document).on('keyup', function (event) {
    var now = Date.now();
    localStorage.setItem("key:" + now.toString(), event.key + "," + event.target + "," + event);
    {#console.log("keyup: " + event.key + "," + event.target + "," + event);#}
    // Post the event object here.
  });

  window.onbeforeunload = function (event) {
    var timestampDict = {};

    for (let i = 0; i < localStorage.length; i++) {
      var key = localStorage.key(i);
      var value = localStorage.getItem(key);
      var regType = /\w+:/g;
      var regTimestamp = /:\w+/g;
      var keyType = key.match(regType)[0].slice(0, -1);
      var keyTimestamp = key.match(regTimestamp)[0].slice(1);
      var actValue = timestampDict[keyTimestamp];

      if (actValue == null) {
        actValue = {
          "mouse_x_page": null,
          "mouse_y_page": null,
          "mouse_x_client": null,
          "mouse_y_client": null,
          "mouse_click": null,
          "mouse_click_target": null,
          "mouse_click_event": null,
          "keyboard_press": null,
          "keyboard_press_target": null,
          "keyboard_press_event": null
        };
      }

      switch (keyType) {
        case "coor":
          var coors = value.split(',');
          actValue["mouse_x_page"] = coors[0];
          actValue["mouse_y_page"] = coors[1];
          actValue["mouse_x_client"] = coors[2];
          actValue["mouse_y_client"] = coors[3];
          break;
        case "click":
          var click = value.split(',');
          actValue["mouse_click"] = click[0];
          actValue["mouse_click_target"] = click[1];
          actValue["mouse_click_event"] = click[2];
          break;
        case "key":
          var keyPress = value.split(',');
          actValue["key_press"] = keyPress[0];
          actValue["key_press_target"] = keyPress[1];
          actValue["key_press_event"] = keyPress[2];
          break;
        default:
          console.log("Unable to process " + keyType + " {" + key + ":" + value + "}");
      }

      timestampDict[keyTimestamp] = actValue;

      {#let storedValue = localStorage.getItem(localStorage.key(i));#}
      {#console.log(`Item at ${i}: ${storedValue}`);#}
    }

    let timestamps = [];

    for (let [key, value] of Object.entries(timestampDict)) {
      value["timestamp"] = key;
      timestamps.push(value);
    }

    let activityDict = {};
    activityDict["session_key"] = "{{ session_key }}";
    activityDict["url"] = window.location.href;
    activityDict["activity"] = timestamps;

    // Send activity
    var xhr = new XMLHttpRequest();
    var url = "../a/";
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-Type", "application/json");
    var data = JSON.stringify(activityDict);
    console.log("Sending:" + data);
    xhr.send(data);
    {#post("../a/", activityDict);#}
    {#xhr.onreadystatechange = function () {#}
    {#  if (xhr.readyState === 4 && xhr.status === 200) {#}
    {#    var json = JSON.parse(xhr.responseText);#}
    {#    console.log(json.email + ", " + json.password);#}
    {#  }#}
  }
</script>
</html>
