{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block head %}
    <title>Question {{ question_count }}</title>
    <script src="{% static 'js/codemirror.js' %}" type="text/javascript"></script>
    <link href="{% static 'css/codemirror.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="static-right alert alert-primary text-center" role="alert">{{ questions_remaining }} question(s)
        remaining
    </div>
    <div id="messages"></div>
    {% if messages %}
        {% for message in messages %}
            <div  {% if message.tags %}
                class="static alert alert-danger col-lg-3 text-center {{ message.tags }} " {% endif %}
                role="alert" id="wrong-message"> {{ message }} </div>
        {% endfor %}
    {% endif %}
    <div class="container-fluid" id="question">
        <div class="row p-2 align-items-center" style="height: 90vh;overflow: auto;">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <br/>
                        {% autoescape off %}
                            {{ pre_text }}
                        {% endautoescape %}
                        <div id="code-box"></div>
                        {#                        <pre style="font-size: 1.1em">{{ code }}</pre>#}
                        {% autoescape off %}
                            {{ post_text }}
                        {% endautoescape %}
                        <form class="w-100" action="" method="post" id="answer-box">
                            {% crispy form %}
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3" id="timers">
                        <br/>
                        <div id='hint-timer' class='alert alert-warning text-center' role='alert'
                             style="visibility: hidden">
                            Hint time remaining
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" id="hints" style="font-size: 0.85rem">
                <button type="button" class="btn btn-danger" onclick="giveHint()">Hint</button>
            </div>
        </div>
    </div>
    <script>
      var hints = {{ hints | safe }};
      var hintSizes = {
        "1": "15",
        "2": "40",
        "3": "15"
      };
      var hintNumber = hints.length;

      // Create CodeMirror element
      var cm = CodeMirror(document.getElementById("code-box"), {
        value: `{{ code }}`,
        mode: "text",
        indentUnit: 4,
        readOnly: true,
        lineWrapping: true,
        lineNumbers: true
      });

      // Manage JSON messages
      $('#answer-box').submit(function (e) {
        $.post('../q/{{ question_id }}', $(this).serialize(), function (data) {
          var message = JSON.parse(data).message;
          var success = JSON.parse(data).success;
          if (success){
            $("nav").after(
              $('<div></div>')
                .attr(
                  {
                    id: 'wrong-message',
                    "class": 'static alert alert-success col-lg-3 text-center ',
                    "role": 'alert'
                    {#"style": "height: " + hintSizes[curIndex] + "vh;overflow: auto;"#}
                  }
                )
                .text(message)
            );
            $("#wrong-message").fadeTo(2000, 500).slideUp(500, function () {
              $("#wrong-message").slideUp(500);
              $("#wrong-message").remove();
              window.location.href = '../s/';
            });
          } else {
            $("nav").after(
              $('<div></div>')
                .attr(
                  {
                    id: 'wrong-message',
                    "class": 'static alert alert-danger col-lg-3 text-center ',
                    "role": 'alert'
                    {#"style": "height: " + hintSizes[curIndex] + "vh;overflow: auto;"#}
                  }
                )
                .text(message)
            );
            $("#wrong-message").fadeTo(2000, 500).slideUp(500, function () {
              $("#wrong-message").slideUp(500);
              $("#wrong-message").remove();
            });
          }
        });
        e.preventDefault();
      });

      // Create the static divs for the hints
      function createHintDivs() {
        for (const x of Array(hintNumber).keys()) {
          var curIndex = hintNumber - x;
          $("#hints").prepend(
            $('<div></div>')
              .attr(
                {
                  id: 'hint' + curIndex,
                  "class": 'alert alert-warning',
                  "role": 'alert',
                  "style": "height: " + hintSizes[curIndex] + "vh;overflow: auto;"
                }
              )
              .append(
                $('<h6></h6>')
                  .text("Hint #" + curIndex))
          );
        }
      }

      function giveHint() {
        // Create hint object and attach it to correct div
        var hint = hints.shift();
        var curHintNumber = hintNumber - hints.length;
        if (hint) {
          $("#hint" + curHintNumber).append(hint);

          // Set timer interval
          var yourDateToGo = new Date(); //here you're making new Date object
          yourDateToGo.setMilliseconds(yourDateToGo.getMilliseconds() + {{ hint_timeout | safe }});
          //your're setting date in this object 1 day more from now
          //you can change number of days to go by putting any number in place of 1

          // Disable for the specified amount of time
          if ({{ hint_timeout }}) {

            // Display timer only for last question
            if (curHintNumber === hintNumber) {
              $("#hint-timer")
                .css({"visibility": "visible"})
                .text("Please wait");

              var timing = setInterval( // you're making an interval - a thing, that is updating content after number of miliseconds, that you're writing after comma as second parameter
                function () {
                  var currentDate = new Date().getTime(); //same thing as above
                  var timeLeft = yourDateToGo - currentDate; //difference between time you set and now in miliseconds
                  var minutes = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60)); //conversion miliseconds on minutes
                  if (minutes < 10) minutes = "0" + minutes;
                  var seconds = Math.floor((timeLeft % (1000 * 60)) / 1000);//conversion miliseconds on seconds
                  if (seconds < 10) seconds = "0" + seconds;

                  document.getElementById("hint-timer").innerHTML = minutes + "m " + seconds + "s"; // putting number of days, hours, minutes and seconds in div,
                  //which id is countdown

                  if (timeLeft <= 0) {
                    clearInterval(timing);
                    document.getElementById("hint-timer").innerHTML = "Time's out"; //if there's no time left, programm in this 2 lines is clearing interval (nothing is counting now)
                    //and you see "It's over" instead of time left
                  }
                }, 1000);
            }

            if (curHintNumber === hintNumber){
              $("#answer-box :input").attr("disabled", true);
            }

            $("#hints :input").attr("disabled", true);

            setTimeout(function () {
                if (curHintNumber === hintNumber){
                  $("#answer-box :input").attr("disabled", false);
                }
                $("#hints :input").attr("disabled", false);
                $("#hint-timer").css({"visibility": "hidden"});
                if (hints.length === 0) {
                  $("#hints :input").attr("disabled", true);
                }
              }
              , {{ hint_timeout }});

            {#$("#hint").fadeTo({{ hint_timeout }}, 500).slideUp(500, function () {#}
            {#  $("#hint").slideUp(500);#}
            {#  $("#answer-box :input").attr("disabled", false);#}
            {#  $("#hints :input").attr("disabled", false);#}
            {#  $("#hint-timer").remove();#}
          }
        }

      }

      $(document).ready(function () {
        $("#wrong-message").fadeTo(2000, 500).slideUp(500, function () {
          $("#wrong-message").slideUp(500);
        });
        createHintDivs();
      });

    </script>
{% endblock %}
