.static {
    position: absolute;
    top: 0px;
    /*right: 0px;*/
    left: 50%;
    /*transform: translate(-50%, -50%);*/
    transform: translateX(-50%);
}

.static-right {
    position: absolute;
    top: 0px;
    /*right: 0px;*/
    left: 75%;
    /*transform: translate(-50%, -50%);*/
    transform: translateX(-50%);
}

.question-row {
    /*height: 25vh;*/
    overflow: auto;
    font-size: 1.8em;
}

.question-hint {
    height: 25vh;
    font-size: 1.8em;
}

.question-code-row {
    /*height: 34vh;*/
    overflow: auto;
    font-size: 1.8em;
}

.question-code-hint {
    height: 32vh;
}

.question-buttons .w-100 .btn {
    font-size: 1.2em;
}

.btn {
    font-size: 1.2em;
}

.question-top {
    vertical-align: top;
}

.question-bottom {
    vertical-align: bottom;
}

pre {
    white-space: pre-wrap;
}